* {
	margin: 0;
	padding: 0;
}

body {
	margin: 10px;
	background: #002F43;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #B9B9B9;
}

h1, h2, h3 {
	margin-bottom: 1.5em;
}

h1 {
	font-size: 2em;
    color: #8AC800;
}

h2 {
	font-size: 1.4em;
    color: #8AC800;
}

h3 {
	font-size: 1em;
    color: #8AC800;
}

img.left {
	float: left;
	margin: 5px 25px 0px 0px;
}

img.right {
	float: right;
	margin: 5px 0px 0px 25px;
}

/* Contenido */

#content {
    margin-top:  125px;
	float: left;
	width: 583px;
}

.post {
    margin-bottom:  25px;
    float: left;
}

.post .title {
	height: 49px;
}

.post .title h2 {
	float: left;
	padding: 12px 0px 0px 24px;
	font-size: 24px;
	text-transform: capitalize;
    color: #8AC800
}

.post .entry {
	padding: 30px 23px 0px 23px;
}